.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.price-total {
  color: red;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
  user-select: none;
}

.bookNow {
  border: none;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.hotelTitle {
  font-size: 2rem;
  font-weight: bolder;
}

.hotelAddress {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotelDistance {
  color: #0071c2;
  font-weight: 500;
}

.hotelPriceHighlight {
  color: #008009;
  font-weight: 500;
}

.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImgWrapper {
  width: 33%;
  margin-bottom: 5px;
}

.hotelImg {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelDetailsTexts {
  flex: 3;
}

.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
  max-height: 100px;
  overflow: auto;
  padding-right: 15px;
  text-align: justify;
}

.hotelDetailsPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotelDetailsPrice > h1 {
  font-size: 18px;
  color: #555;
}
.hotelDetailsPrice > span {
  font-size: 14px;
}
.hotelDetailsPrice > h2 {
  font-weight: 300;
}
.hotelDetailsPrice > button {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 9999;
  display: flex;
  align-items: center;
}
body.modal-open1 {
  overflow: hidden;
}
.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  width: 80%;
  height: 80vh;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.arrow {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}
.group-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 35px;
}
.item {
  display: flex;
  flex-direction: column;
}
.group-services .item img {
  max-height: 25px;
  max-width: 25px;
}
.group-services .item label {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}
.group-services .item p {
  margin: 0;
  font-size: 14px;
}
.section-07 .left {
  padding: 38px 1rem;
  background: #f9f9f9;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.left .go-tour .day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 34px;
}
.left .go-tour .day:before {
  content: "";
  height: 100%;
  border-left: 0.5px dashed #2d4271;
  position: absolute;
  top: 0;
  left: 57px;
  z-index: 0;
}
.left .go-tour .day .wrapper {
  display: flex;
  align-items: center;
}
.date-left {
  width: 40px;
  margin-right: 5px;
}
.wrapper .date-center {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #2d4271;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d4271;
  background: #fff;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.active1 {
  color: #fff !important;
  background: var(--secondary-color) !important;
}
.wrapper .date-right {
  padding-left: 10px;
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
}
.date-right .date-hotel {
  font-weight: 600;
  font-size: 11px;
}
.date-right .location {
  font-weight: 700;
}
.right .excerpt {
  padding-left: 33px;
  max-width: 100%;
  position: relative;
  margin-bottom: 15px;
  line-height: 24px;
}
.excerpt .line {
  height: calc(100% - 16px);
  border-left: 0.5px dashed var(--secondary-color);
  position: absolute;
  top: 6px;
  left: 0;
  z-index: 1;
}
.excerpt .line:before {
  content: "";
  width: 5px;
  height: 5px;
  background: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -3px;
  z-index: 1;
}
.excerpt .line:after {
  content: "";
  width: 5px;
  height: 5px;
  background: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: -3px;
  z-index: 1;
}

.info2 {
  width: 100%;
}
.hotelDetailsPrice h2 {
  font-weight: 600;
  font-size: 22px;
}
.table-price {
  border-radius: 10px;
  padding: 0px 20px;
}
.l1 {
  width: 290px;
}
.l2 {
  width: 130px;
}
.table-price tr th {
  padding: 10px 0;
  font-weight: 600;
}
.table-price tr td {
  padding: 10px 0;
}
.t-price {
  color: #fd5056;
  font-weight: 600;
}
.total1 {
  font-weight: bolder;
  border-top: 1px solid #7d8fab;
  font-size: 1.2rem;
}
