.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #f4bb20;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 14px;
  color: var(--bs-body-color);
  margin-top: 0px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}
.lsOptionItem1 {
  display: flex;
  flex-direction: column;
  color: #555;
  font-size: 12px;
}
.range-text {
  display: flex;
  margin: 12px 0;
  justify-content: space-between;
}
.range-text-value {
  display: flex;
  width: 109px;
  position: relative;
  justify-content: center;
  flex-grow: 0;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  user-select: none;
  align-items: center;
  border: 1px solid rgba(205, 208, 209, 1);
  padding: 4px 6px;
  border-radius: 9999px;
}
.price-range {
  color: rgba(3, 18, 26, 1);
  font-size: 12px;
  line-height: 12px;
  margin-right: 4px;
  text-align: left;
  font-weight: 500;
}
.input-price-range {
  width: 66px;
  line-height: 12px;
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  border: none;
  pointer-events: none;
}
.range-slider {
  padding: 0 !important;
  margin-left: 2px !important;
  margin-bottom: 8px !important;
  width: 98% !important;
}
.line-range {
  top: 57.5%;
  height: 1.5px;
  position: absolute;
  z-index: 1;
  width: 50%;
  background-color: rgba(205, 208, 209, 1);
}

.lsOptionInput {
  width: 50px;
  margin: 0px;
  padding: 0 0 0 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
.lsOptionText {
  font-size: 14px;
  font-weight: 500;
}

.listSearch > button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.listResult {
  flex: 3;
}
